# New API PHP 版 - Apache 重写规则（可选）

Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^data/ - [F,L]
    RewriteRule ^includes/ - [F,L]
    RewriteRule ^sql/ - [F,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^v1/(.*)$ index.php [QSA,L]
</IfModule>